.container {
  max-width: 85ch;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.header {
  padding: 2rem 0;
}

.paragraph {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.soldOut {
  margin: 2rem 0;
  text-transform: uppercase;
  color: var(--warning);
}
