.field {
  border: 0;
  padding: 0;
  padding-bottom: 2rem;
}

.selectLabel {
  margin-right: 1rem;
}

.selectWrapper {
  position: relative;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid var(--text-color, #141414);
}

.select {
  /* reset the select element */
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1rem 0 0;
  margin: 0;
  width: 100%;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;

  /* actual styling */
  font-family: "Volvo Novum", Arial, Helvetica, sans-serif;
  font-weight: 300;
  grid-area: select;
  font-size: 1.25rem;
  cursor: pointer;

  /* volvo-like arrow */
  line-height: 1.1;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none' %3E %3Cpath d='M15 1L8 8L1 1' stroke='rgba(0%2C%200%2C%200%2C%200.92)' stroke-linecap='round' stroke-linejoin='round'%3E %3C/path%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 15px 7px;
  background-position: right 18px top 51%;
}

.select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--brand-color, #1c6bba);
  border-radius: inherit;
}
